@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<header id="mainHeader" class="jumbotron">
    <div class="container text-right">
        <h2>@ViewData["Title"]</h2>
    </div>
</header>
<div class="container body-content">
    <div class="letter markdown-body" id="manifest">
        <pre>  
@Html.Raw(@ViewData["Message"])
        </pre>
    </div>
    <div class="text-center">
        <h1>@Localizer["You can save Japari Park!"]</h1>
        <div>
            <a class="btn btn-primary" href="https://discord.gg/bbBbsGc">@Localizer["Join our discord group!"]</a>
            <a class="btn btn-success" href="/Home/Index">@Localizer["Participate in our action!"]</a>
        </div>
    </div>

    <div class="bs-callout">
        <h4>@Localizer["Comments about us"]</h4>
        <div id="tweets"></div>
    </div>
</div>

@section Scripts{ 
    <environment include="Development">
        <script src="https://socket.savejaparipark.com/socket.io/socket.io.js"></script>
        <script src="~/js/about.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://socket.savejaparipark.com/socket.io/socket.io.js"></script>
        <script src="~/js/about.min.js"></script>
    </environment>
}
