@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<header id="mainHeader" class="jumbotron">
    <div class="container text-right">
        <h2>@ViewData["Title"]</h2>
    </div>
</header>
<div class="container body-content">
    <div id="tweets">
    </div>
    <div class="letter markdown-body" id="manifest">
        <pre>  
@Html.Raw(@ViewData["Message"])
        </pre>
    </div>
    <div class="text-center">
        <h1>@Localizer["You can save Japari Park!"]</h1>
        <div>
            <a class="btn btn-primary" href="https://discord.gg/bbBbsGc">@Localizer["Join our discord group!"]</a>
            <a class="btn btn-success" href="/Home/Index">@Localizer["Participate in our action!"]</a>
        </div>
    </div>
</div>

@section Scripts{ 
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script>
        const callout = '<div class="bs-callout bs-callout-warning">[replace-text]</div>';
        var socket = io.connect('http://localhost:3000');
        socket.on('tweet', function (data) {
            $('#tweets').append(callout.replace('[replace-text]', data.text));
        });
    </script>
}