@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="alert alert-danger">
        @Localizer["http500msg"]
        <a href="http://notatsukinotanoshi.tk"><img src="qrcode.png" id="qr" /></a>
    </div>
    <div class="btn-group">
        <button id="g" class="btn btn-danger" data-type=0 onclick="mailAction(this)">Gmail</button>

        <button id="t" class="btn btn-info" data-type=1 onclick="mailAction(this)">@Localizer["Outlook (etc.)"]</button>
    </div>
    <form class="form">
        <h4 id="mode"></h4>

        <div class="form-group">
            <label id="name">@Localizer["Friend's Name"]</label>
            <input type="text" class="form-control" id="sender" placeholder="Serval" required />
            <label id="nationality">@Localizer["Friend's Nationality"]</label>
            <input type="text" class="form-control" id="country" placeholder="Foreign Country" required />
            <label id="recv">@Localizer["Receiving Company"]</label>
            <select id="sp" class="form-control">
                <option value="privacy@txshop.jp">@Localizer["TV TOKYO Corporation"]</option>
                <option value="support@crunchyroll.com">@Localizer["Crunchyroll"]</option>
            </select>
        </div>

        <div id="email">To: </div>
        <div id="submit" class="btn btn-warning" onclick="return sendEmail()">@Localizer["Send the email"]</div>
        <br>
        <div id="qrcode"></div>
        <div class="letter markdown-body" id="mailBody"></div><br>
    </form>
</div>
